* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18pt;
}
body {
  background-color: thistle;
}
main {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hidden-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-text input {
  transition: all 3s ease-out
}
.fa-search {
  font-size: 24pt;
  padding: 10px;
}
.hidden {
  visibility: hidden;
}