* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
body {
  background-color: thistle;
}

main {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
}